{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Frozen II Box</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{% static 'javascript/box.js' %}"></script>
    <script src="{% static 'javascript/toast.js' %}"></script>
</head>

<body>
{% include 'frontend/toast.html' %}
{% include 'frontend/modal.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div style="width:100%;">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="display_rate" checked
                   onclick="onclick_checkbox_display_rate();">
            <label class="form-check-label" for="display_rate">Display rate</label>
        </div>
    </div>
    <br/>
    <div class="row justify-content-end">
        <button class="btn btn-primary" type="button" id="refresh">Refresh</button>
    </div>
</div>
</body>

</html>