{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Frozen II Box</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="{% static 'javascript/box.js' %}"></script>
    <script src="{% static 'javascript/toast.js' %}"></script>
</head>

<body>
{% include 'frontend/toast.html' %}
<div class="modal fade" id="loading_modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" id="modal_body">
                <div class="container" id="modal_body_container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="spinner-border" role="status"></div>
                        </div>
                        <div class="col-sm">
                            <span class="align-middle">Loading...</span>
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div style="width:100%;">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="row justify-content-end">
        <button class="btn btn-primary" type="button" id="refresh">Refresh</button>
    </div>
</div>
</body>

</html>