<div class="modal fade" id="loading_modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" id="modal_body">
                <div class="container" id="modal_body_container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="spinner-border" role="status"></div>
                        </div>
                        <div class="col-sm">
                            <span class="align-middle">Loading...</span>
                        </div>
                        <div class="col-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>